.result-form {
  height: 100%;

  .align-loader {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .fit-content {
    width: fit-content;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .icon {
      max-width: 42px;
      max-height: 42px;
    }
  }

  .area-info {
    .result-border {
      border-bottom: 3px solid;
    }
    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }
}
