.user-edit-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .slot-area {
    max-width: 1250px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    > .title-area {
      display: flex;
      flex-direction: column;
    }
  }
}
