.user-edit-container {
  .menu-user-edit {
    padding-left: 0;
    min-height: 25rem;
    .user-list-footer-content {
      margin-top: 15rem;
    }
  }
  .user-edit-form {
    padding-right: 10rem;
  }
}
