.authenticate-container {
  height: 100%;

  .login-icon {
    max-width: 441px;
    max-height: 343px;
    width: 77%;
    height: 50%;
  }

  .cloud-icon {
    max-width: 169px;
    max-height: 117px;
    width: 50%;
    height: 50%;
  }
}
