.user-edit-view {
  height: 100%;
  width: 100%;
  .form-edit {
    height: 100%;
    > .form {
      height: 100%;
    }
  }

  .footer-edit {
    display: flex;
    justify-content: flex-end;
  }
}
